/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.style-reset html, .style-reset body, .style-reset div, .style-reset span, .style-reset applet, .style-reset object, .style-reset iframe,
.style-reset h1, .style-reset h2, .style-reset h3, .style-reset h4, .style-reset h5, .style-reset h6, .style-reset p, .style-reset blockquote, .style-reset pre,
.style-reset a, .style-reset abbr, .style-reset acronym, .style-reset address, .style-reset big, .style-reset cite, .style-reset code,
.style-reset del, .style-reset dfn, .style-reset em, .style-reset img, .style-reset ins, .style-reset kbd, .style-reset q, .style-reset s, .style-reset samp,
.style-reset small, .style-reset strike, .style-reset strong, .style-reset sub, .style-reset sup, .style-reset tt, .style-reset var,
.style-reset b, .style-reset u, .style-reset i, .style-reset center,
.style-reset dl, .style-reset dt, .style-reset dd, .style-reset ol, .style-reset ul, .style-reset li,
.style-reset fieldset, .style-reset form, .style-reset label, .style-reset legend,
.style-reset table, .style-reset caption, .style-reset tbody, .style-reset tfoot, .style-reset thead, .style-reset tr, .style-reset th, .style-reset td,
.style-reset article, .style-reset aside, .style-reset canvas, .style-reset details, .style-reset embed,
.style-reset figure, .style-reset figcaption, .style-reset footer, .style-reset header, .style-reset hgroup,
.style-reset menu, .style-reset nav, .style-reset output, .style-reset ruby, .style-reset section, .style-reset summary,
.style-reset time, .style-reset mark, .style-reset audio, .style-reset video {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 100% !important;
  font: inherit !important;
  vertical-align: baseline !important;
  line-height: 2rem !important;
}
/* HTML5 display-role reset for older browsers */
.style-reset article, .style-reset aside, .style-reset details, .style-reset figcaption, .style-reset figure,
.style-reset footer, .style-reset header, .style-reset hgroup, .style-reset menu, .style-reset nav, .style-reset section {
  display: block !important;
}
.style-reset body {
  line-height: 1 !important;
}
.style-reset ol, .style-reset ul {
  list-style: none !important;
}
.style-reset blockquote, .style-reset q {
  quotes: none !important;
}
.style-reset blockquote:before, .style-reset blockquote:after,
.style-reset q:before, .style-reset q:after {
  content: '' !important;
  content: none !important;
}
.style-reset table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

.page-view__html-content .style-reset span,
.page-view__html-content .style-reset a,
.page-view__html-content .style-reset b,
.page-view__html-content .style-reset em,
.page-view__html-content .style-reset p,
.page-view__html-content .style-reset th,
.page-view__html-content .style-reset td {
  display: inline-block !important;
  border: 1px dotted lightgrey !important;
}
